@import "../../styles.scss";

$radius: 20px;

.feedback-section {
  height: auto;
  width: 100%;
  background-color: $base-color;
  padding-top: 50px;
  position: relative;
}

.feedback-section-data {
  text-align: center;
  width: 90%;
  margin: auto;
  padding: 50px 0px;
}

.title {
  margin: 50px;
  font-size: 30px;
  font-weight: 500;
}

::ng-deep ngx-material-rating {
  .mat-button.mat-accent,
  .mat-icon-button.mat-accent,
  .mat-stroked-button.mat-accent {
    color: $primary-color;
    width: 80px;
    height: 80px;
    padding-top: 18px;
    margin: 5px;
  }

  .mat-icon {
    height: 48px !important;
    width: 48px !important;
    font-size: 48px !important;
  }
}

.form-input {
  background-color: white;
  border-radius: 40px;
  padding: 5px 10px;
  margin: 20px 0;
  display: block;
}

textarea {
  width: 95%;
  line-height: 45px;
  font-size: 25px;
  height: 150px;
}

textarea.mat-input-element {
  padding-left: 25px;
}

mat-label {
  line-height: 45px;
  font-size: 25px;
  margin-left: 25px;
}

.submit-button {
  border-radius: 40px;
  background-color: $primary-color;
  height: 50px;
  width: 120px;
  margin: auto;
  display: block;
}
