<div *ngIf="!loaderService.loader">
  <app-header></app-header>
  <div class="feedback-section">
    <span class="title">{{ currentPackage?.title }}</span>
    <div class="feedback-section-data">
      <ngx-material-rating
        [color]="ratings.color"
        [disabled]="ratings.disabled"
        [dense]="ratings.dense"
        [readonly]="ratings.readonly"
        [(ngModel)]="ratings.value"
        [max]="ratings.max"
      >
      </ngx-material-rating>

      <form [formGroup]="feedbackForm">
        <mat-form-field class="full-width form-input" floatLabel="never">
          <mat-label>Tell us how we can improve</mat-label>
          <textarea
            matInput
            autocomplete="off"
            type="text"
            formControlName="comment"
          ></textarea>
        </mat-form-field>
      </form>

      <button mat-flat-button class="submit-button" (click)="submit()">
        Submit
      </button>
    </div>
  </div>
  <app-footer></app-footer>
</div>
