@import "../../styles.scss";

//              ********************        HEADER SECTION         ********************

.header {
  border-radius: 50px 50px 0 0;
  background-color: $base-color;
  height: 100px;
  padding: 10px 20px;
}

.header-row {
  margin: auto;
}

.header-title {
  color: $secondary-color;
  font-size: 25px;
  font-weight: 500;
  background-color: transparent;
  border-radius: 40px;
  padding: 10px 15px;

  mat-icon {
    height: 30px;
    width: 30px;
    font-size: 30px;
    font-weight: 600;
  }
}

.header-buttons {
  border-radius: 30px;
}

.highlighted {
  background-color: white;
  border: 5px solid white;
}

.primary-highlighted {
  background-color: $primary-color;
}

.non-highlighted {
  background-color: transparent;
  margin-right: 20px;
  border-radius: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
  border-radius: 0 0 20px 20px;
  padding: 5px;
  width: 100%;
  margin-top: -20px;
  padding-top: 20px;
}

.dropdown-content span {
  padding: 5px 16px;
  text-decoration: none;
  display: block;
  font-weight: 500;
  font-size: 14px;
}

/* Change color of dropdown links on hover */
.dropdown-content span:hover {
  color: $primary-color;
  font-weight: 700;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .highlighted {
  background-color: $primary-color;
  z-index: 2;
  border: 5px solid white;
}

.logout {
  background-color: $secondary-color;
  border-radius: 20px;
  color: white;
}

.dropdown-content .logout:hover {
  color: white;
  font-weight: 700;
}
