<mat-toolbar class="header">
  <mat-toolbar-row class="header-row">
    <button mat-flat-button class="header-title" [routerLink]="['/home']">
      <mat-icon class="logo">polymer</mat-icon>
      <!-- <ng-container>
        My Journey
      </ng-container> -->
      <ng-container>
        Travel Bookers
      </ng-container>
    </button>
    <!-- <span class="header-title">My Journey</span> -->
    <span class="spacer"></span>

    <button
      class="non-highlighted header-buttons"
      mat-flat-button
      [routerLink]="['/login']"
      routerLinkActive="router-link-active"
      *ngIf="!authService.isLoggedIn() && !loaderService.loader"
    >
      Sign In
    </button>

    <button
      class="highlighted header-buttons"
      mat-flat-button
      [routerLink]="['/register']"
      routerLinkActive="router-link-active"
      *ngIf="!authService.isLoggedIn() && !loaderService.loader"
    >
      Sign Up
    </button>

    <div class="dropdown">
      <button
        class="highlighted header-buttons"
        mat-flat-button
        routerLinkActive="router-link-active"
        *ngIf="authService.isLoggedIn() && !loaderService.loader"
      >
        {{ this.authService.userData?.name }}
      </button>
      <div class="dropdown-content">
        <span
          [routerLink]="['/admin']"
          *ngIf="
            this.authService.isLoggedIn() && this.authService.userData?.isAdmin
          "
          >Admin Panel</span
        >
        <span [routerLink]="['/my-trips', authService.userData?.uid]" *ngIf="this.authService.isLoggedIn()"
          >My Trips</span
        >
        <span class="logout" (click)="authService.SignOut()">Logout</span>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
