<mat-toolbar class="footer">
  <mat-toolbar-row class="footer-row">
    <button mat-flat-button class="footer-title" [routerLink]="['/home']">
      <mat-icon class="logo">polymer</mat-icon>
      <!-- <ng-container>
        My Journey
      </ng-container> -->
      <ng-container>
        Travel Bookers
      </ng-container>
    </button>
    <!-- <span class="footer-title">My Journey</span> -->
    <span class="spacer"></span>

    <span class="footer-links">About us</span>
    <span class="footer-links">Privacy policy</span>
    <span class="footer-links">Terms of use</span>
  </mat-toolbar-row>
</mat-toolbar>
