@import "../../styles.scss";

//              ********************        FOOTER SECTION          ********************

.footer {
    height: 200px;
    background-color: $secondary-color;
    border-radius: 0px 0px 50px 50px;
  }
  
  .footer-row {
    padding: 100px 80px;
  }
  
  .footer-title {
    color: white;
    font-size: 25px;
    font-weight: 500;
    background-color: transparent;
    border-radius: 40px;
    padding: 10px 15px;
  
    mat-icon {
      height: 30px;
      width: 30px;
      font-size: 30px;
      font-weight: 600;
    }
  }
  
  .footer-links {
    color: $light-grey;
    margin-left: 50px;
  }
  