<div class="verify-email-container">
  <mat-toolbar class="header">
    <mat-toolbar-row class="header-row">
      <span class="header-title">Verify Email</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="verify-email-section">
    <h3 class="text-center thanks">Thank You for Registering</h3>

    <div *ngIf="authService.userData as user">
      <p class="text-center">
        We have sent a confirmation email to <strong>{{ user.email }}</strong
        >.
      </p>
      <p class="text-center">
        Please check your email and click on the link to verfiy your email
        address.
      </p>
    </div>
    <div>
      <button
        class="resend-mail-button"
        mat-flat-button
        (click)="authService.SendVerificationMail()"
      >
        Resend Verification Email
      </button>
    </div>
    <div class="redirectToLogin">
      <button class="home-button" mat-flat-button routerLink="/home">
        Home
      </button>
    </div>
  </div>
</div>
