@import "../../styles.scss";
@import "../header/header.component.scss";

.verify-email-container {
  margin: 0;
  padding: 30px 200px;
  border-radius: 50px;
}

.verify-email-section {
  width: 100%;
  padding: 30px;
  background-color: $base-color;
  border-radius: 0px 0px 50px 50px;
}

.thanks {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 50px;
}

p {
  font-size: 15px;
  line-height: 15px;
}

.resend-mail-button {
  border-radius: 40px;
  background-color: $primary-color;
  height: 50px;
  margin: 50px auto;
  padding: 0 30px;
  display: block;
}

.home-button {
  border-radius: 40px;
  background-color: white;
  height: 50px;
  margin: 50px auto;
  padding: 0 30px;
  display: block;
}