<div class="view-all-packages-container" *ngIf="!loaderService.loader">
  <mat-toolbar class="header">
    <mat-toolbar-row class="header-row">
      <span class="header-title">
        <ng-container *ngIf="place">{{ place }}</ng-container>
        <ng-container *ngIf="!place">All Packages</ng-container>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="view-all-packages-section">
    <button
      class="new-button"
      mat-flat-button
      [routerLink]="['/create']"
      *ngIf="this.authService.userData?.isAdmin"
    >
      New
    </button>
    <div class="view-all-packages-section-data">
      <div
        class="row package"
        *ngFor="let package of allPackages; let i = index"
        [routerLink]="['/details', package.id]"
      >
        <div class="col-4">
          <div class="image-div">
            <img src="{{ package?.files[0] }}" />
          </div>
        </div>
        <div class="col">
          <mat-chip-list>
            <mat-chip>{{ package?.category }}</mat-chip>
          </mat-chip-list>
          <h1 class="title">{{ package?.title }}</h1>
          <p class="duration">{{ nights[i] }}Nights {{ days[i] }}Days</p>
          <div>{{ package?.description }}</div>
        </div>
        <div class="col-2">
          <div class="price-div">
            <span class="price">{{
              package?.amount | currency: "INR":"symbol":"1.0"
            }}</span>
            <p class="price-info">Price Per Person</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
