@import "../../styles.scss";
@import "../header/header.component.scss";

$radius: 20px;

.view-all-packages-container {
  margin: 0;
}

//              ********************        VIEW ALL PACKAGES SECTION         ********************

// .overlay{
//   background-color: rgba($color: #ffffff, $alpha: 0.8);
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   margin: 0;
//   padding: 0;
//   z-index: 1;
//   border-radius: $radius;
//   display: none;
//   line-height: 250px;
// }

.new-button {
  border-radius: 40px;
  background-color: $primary-color;
  height: 50px;
  width: 120px;
  margin-left: 85%;
  display: block;
}

.view-all-packages-section {
  height: auto;
  width: 100%;
  background-color: $base-color;
  border-radius: 0px 0px 50px 50px;
  position: relative;
}

.view-all-packages-section-data {
  width: 90%;
  margin: auto;
  padding: 50px 0px;
}

.package {
  // height: 250px;
  border: 2px solid white;
  border-radius: $radius;
  position: relative;
  margin-bottom: 20px;
}

// .package:hover .overlay {
//   display: flex;
// }

.package:hover {
  cursor: pointer;
}

.col-4 {
  border-radius: $radius 0 0 $radius;
}

.image-div {
  padding: 15px 0;
  width: 100%;
  height: 100%;
}

img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  float: left;
}

.col {
  padding: 10px;
}

.title {
  margin-bottom: 0px;
}

.duration {
  font-weight: 500;
  color: $secondary-color;
}

.col-2 {
  background-color: white;
  padding: 10px;
  border-radius: 0 $radius $radius 0;
}

.price-div {
  margin-top: 90%;
  text-align: end;
}

.price {
  font-size: 30px;
  font-weight: 600;
}

.price-info {
  color: rgb(192, 192, 192);
}
