<h2 mat-dialog-title>Delete Package</h2>
<mat-dialog-content class="mat-typography">
  <p>
    Are You Sure you want to delete <strong>{{ data.title }}</strong> package?
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-flat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    (click)="deletePackage()"
    color="warn"
  >
    Yes
  </button>
</mat-dialog-actions>
