@import "../../../styles.scss";

::ng-deep .mat-dialog-container {
  border-radius: 40px;
  background-color: $base-color;
}

mat-dialog-content {
  margin: 60px 30px 0 30px;
  height: 75px;
}

button {
  border-radius: 30px;
}
