<div class="package-details-container" *ngIf="!loaderService.loader">
  <app-header></app-header>

  <div class="delete-div row" *ngIf="this.authService.userData?.isAdmin">
    <button mat-flat-button class="date-button col" (click)="confirmDelete()">
      DELETE
    </button>
  </div>

  <div class="info-div row" [formGroup]="infoForm">
    <mat-form-field class="date-field">
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="date"
        [min]="minDate"
        (dateChange)="setDate()"
      />
      <mat-datepicker touchUi="true" #picker></mat-datepicker>
    </mat-form-field>

    <button mat-flat-button class="date-button col" (click)="picker.open()">
      <ng-container *ngIf="infoForm.get('date').value">
        {{ fromDate | date }} - {{ toDate | date }}
      </ng-container>

      <ng-container *ngIf="!infoForm.get('date').value">
        Select date
      </ng-container>
    </button>

    <mat-form-field class="form-input persons col" floatLabel="never">
      <mat-label>Persons</mat-label>
      <input matInput autocomplete="off" formControlName="persons" />
    </mat-form-field>
  </div>

  <div class="package-row row">
    <div class="col-9 details-container">
      <div class="first-section">
        <ngx-gallery
          [options]="galleryOptions"
          [images]="galleryImages"
          class="ngx-gallery"
        ></ngx-gallery>
      </div>
      <div class="title-div">
        <span class="place">{{ currentPackage?.place }}</span>
        <span class="title">{{ currentPackage?.title }}</span>
        <span class="duration"> {{ nights }}N{{ days }}D </span>
        <p class="description">{{ currentPackage?.description }}</p>
      </div>
      <div class="second-section">
        <span class="summary">Summary</span>

        <div class="details">
          <div
            class="row day"
            *ngFor="let days of currentPackage.schedule['day']; let i = index"
          >
            <div class="col-2">Day {{ i + 1 }}</div>
            <div *ngFor="let day of days['event']" class="col-3 data">
              <li>
                <span>{{ day.event }}</span>
              </li>
            </div>
          </div>
        </div>
      </div>
      <div class="third-section" *ngIf="currentPackage?.streetView">
        <div class="iframeView">
          <iframe
            [attr.src]="urlSafe"
            width="100%"
            height="100%"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
      </div>
    </div>
    <div class="price-container col-3">
      <div class="price-section row">
        <p class="price">
          {{ currentPackage?.amount | currency: "INR":"symbol":"1.0" }}
        </p>
        <p class="tax-info">per person</p>
        <p class="tax-info">(Taxes are not included in this price)</p>
        <button
          class="book-button"
          mat-flat-button
          (click)="bookNow()"
        >
          BOOK NOW
        </button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
