@import "../../styles.scss";

.col-9,
.col-3,
.col-sm,
.col-2,
.row {
  padding: 0px;
  margin: 0;
}

.delete-div {
  padding: 30px;
  background-color: $base-color;

  button {
    background-color: #ef5350;
    color: white;
    font-weight: 700;
    font-size: 20px;
  }
}

.info-div {
  padding: 30px;
  background-color: $base-color;
}

.date-button {
  margin-right: 20px;
}

.persons {
  margin: 0 20px;
}

.title-div {
  background-color: $base-color;
  margin-bottom: 80px;

  .title {
    line-height: 50px;
  }
}

.package-row {
  padding: 30px;
  background-color: $base-color;
}

.col-9 {
  padding-right: 20px;
}

.mat-sidenav-container,
.mat-sidenav-content,
.mat-tab-body-content {
  transform: none !important;
}

//              ********************        FIRST SECTION          ********************

.first-section {
  background-color: $base-color;
  text-align: center;
  padding-bottom: 80px;
}

.ngx-gallery {
  display: inline-block;
  margin-bottom: 20px;
}

::ng-deep .ngx-gallery-image {
  border-radius: 10px;
}

::ng-deep .ngx-gallery-thumbnails .ngx-gallery-thumbnail {
  border-radius: 10px;
  border: none !important;
  filter: brightness(0.6);
}

::ng-deep .ngx-gallery-thumbnail.ngx-gallery-active {
  border-radius: 10px;
  filter: none;
}

//              ********************        SECOND SECTION          ********************

.second-section {
  height: auto;
  background-color: $base-color;
  padding-bottom: 80px;
}

.section-controls {
  padding: 20px 0;
  margin: 20px 0;
  border-top: 1px solid rgb(208, 208, 208);
  border-bottom: 1px solid rgb(208, 208, 208);
}

.summary {
  display: block;
  font-size: 20px;
  font-weight: 500;
}

.details {
  padding: 20px 0;
}

.col-2 {
  font-weight: 500;
  color: rgb(138, 138, 138);
  padding: 20px 0;
  text-align: center;
}

li {
  margin: 0 20px;
  text-indent: -1.4em;
}

.data {
  padding: 20px 0;
  border-bottom: 2px solid rgb(255, 255, 255);
}

//              ********************        THIRD SECTION          ********************

.third-section {
  height: auto;
  background-color: $base-color;
  padding-bottom: 80px;
}

.iframeView {
  width: 600px;
  height: 400px;
  margin: auto;
}

iframe {
  border-radius: 20px;
}

//              ********************        FOURTH SECTION          ********************

.form-input {
  background-color: white;
  border-radius: 40px;
  padding: 5px 10px;
  margin-bottom: 15px;
  width: 317px;
  // height: 100px;

  input {
    width: auto;
    line-height: 45px;
    font-size: 25px;
    padding-left: 25px;
  }
  mat-label {
    line-height: 45px;
    font-size: 25px;
    margin-left: 25px;
  }
}

.date-field {
  display: none;
}

.date-button {
  margin-left: 20px;
  border-radius: 30px;
  height: 65.69px;
  padding: 0px 25px;
}

//              ********************        PRICE SECTION          ********************

.price-container {
  background-color: $base-color;
}

.price-section {
  padding: 50px 20px;
  border-radius: 10px;
  border: 2px solid white;
  position: sticky;
  top: 20px;
}

.place {
  display: block;
  font-size: 15px;
  font-weight: 500;
}

.title {
  font-size: 35px;
  display: block;
  font-weight: 600;
  margin: 15px 0;
}

.duration {
  display: block;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 30px;
}

.description {
  font-size: 15px;
  display: block;
}

.price {
  display: block;
  font-size: 30px;
  font-weight: 500;
}

.price-info {
  font-weight: 100;
}

.book-button {
  background-color: $primary-color;
  font-weight: 600;
  width: 100%;
  border-radius: 30px;
  height: 45px;
  padding: 0px 25px;
}
