@import "../../styles.scss";
@import "../header/header.component.scss";

.view-all-users-container {
  margin: 0;
  padding: 10px;
}

//              ********************        VIEW ALL USERS SECTION         ********************

.view-all-users-section {
  height: auto;
  width: 100%;
  background-color: $base-color;
  border-radius: 0px 0px 50px 50px;
  position: relative;
}

.view-all-users-section-data {
  min-width: 400px;
  width: 80%;
  margin: auto;
  padding: 50px 0px;
}

.mat-column-sr_no {
  flex: 0 0 10%;
}