<div class="view-all-users-container">
  <mat-toolbar class="header">
    <mat-toolbar-row class="header-row">
      <span class="header-title">All Users</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="view-all-users-section">
    <div class="view-all-users-section-data">
      <mat-table class="mat-elevation-z8" [dataSource]="allUsers">
        <ng-container matColumnDef="sr_no">
          <mat-header-cell *matHeaderCellDef>Sr No. </mat-header-cell>
          <mat-cell *matCellDef="let row; let i = index">
            {{ i + 1 }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.name }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.phone }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="purchases">
          <mat-header-cell *matHeaderCellDef>Purchases</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row["purchase"]?.length || 0 }}
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
