<div class="login-container">
  <mat-toolbar class="header">
    <mat-toolbar-row class="header-row">
      <span class="header-title">Login</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="login-section">
    <div class="login-form">
      <form [formGroup]="loginForm">
        <mat-form-field class="full-width form-input" floatLabel="never">
          <mat-icon>email</mat-icon>
          <mat-label>Email</mat-label>
          <input
            matInput
            autocomplete="off"
            type="email"
            formControlName="email"
          />
        </mat-form-field>

        <mat-form-field class="full-width form-input" floatLabel="never">
          <mat-icon>lock</mat-icon>
          <mat-label>Password</mat-label>
          <input
            matInput
            autocomplete="off"
            type="password"
            formControlName="password"
            minlength="5"
          />
        </mat-form-field>

        <div class="login-controls">
          <button
            class="login-button"
            mat-flat-button
            (click)="login()"
            [disabled]="!loginForm.valid"
          >
            Login
          </button>
          <span
            class="redirects"
            [routerLink]="['/register']"
            routerLinkActive="router-link-active"
            >Don't have an account?</span
          >
        </div>
      </form>
    </div>
  </div>
</div>
