<div class="cart-container" *ngIf="!loaderService.loader">
  <app-header></app-header>
  <div class="cart-row row">
    <div class="package-div col-9">
      <h3 class="title">{{ purchase.package?.title }}</h3>
      <p>{{ nights }}N{{ days }}D</p>
      <p>
        Dates: {{ purchase?.fromDate | date }} - {{ purchase?.toDate | date }}
      </p>
      <p>{{ purchase?.persons }} People</p>
    </div>
    <div class="price-container col-3">
      <div class="price-section row">
        <span class="price-title">GRAND TOTAL</span>
        <br />
        <p class="price row">
          {{ purchase?.package?.amount | currency: "INR":"symbol":"3.0" }}
        </p>
        <br />
        <p class="tax-info row">(inclusive of all taxes)</p>
        <button class="payment-button" mat-flat-button (click)="proceedToPay()">
          PROCEED TO PAYMENT
        </button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
