@import "../../styles.scss";

.row,
.col-9,
.col-3 {
  padding: 0;
  margin: 0;
}

.col-9 {
  padding-right: 20px;
}

.cart-row {
  padding: 30px;
  background-color: $base-color;
}

//              ********************        PRICE SECTION          ********************

.price-container {
  background-color: $base-color;
}

.price-section {
  padding: 50px 20px;
  border-radius: 10px;
  border: 2px solid white;
  position: sticky;
  top: 20px;
}

.title {
  font-size: 30px;
  display: block;
}

.price-title {
  display: block;
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: 200;
}

.price {
  width: 100%;
  display: block;
  font-size: 30px;
  font-weight: 500;
}

.price-info {
  font-weight: 100;
}

.payment-button {
  background-color: $primary-color;
  font-weight: 600;
  width: 100%;
  border-radius: 30px;
  height: 45px;
  padding: 0px 25px;
  margin: 10px auto;
}

.view {
  width: 100%;
  height: 100vh;
}
