<div class="package-container">
  <mat-toolbar class="header">
    <mat-toolbar-row class="header-row">
      <span class="header-title">Create Package</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="package-section">
    <div class="package-form">
      <form [formGroup]="packageForm">
        <mat-form-field class="full-width form-input" floatLabel="never">
          <mat-label>Title</mat-label>
          <input
            matInput
            autocomplete="off"
            type="text"
            formControlName="title"
          />
        </mat-form-field>

        <mat-form-field class="full-width form-input" floatLabel="never">
          <mat-label>Category</mat-label>
          <input
            matInput
            class="search-input"
            [matAutocomplete]="categoryAutocomplete"
            formControlName="category"
            (keyup.enter)="addCategory()"
          />
          <mat-autocomplete #categoryAutocomplete="matAutocomplete">
            <mat-option
              *ngFor="let category of categories | async"
              [value]="category"
            >
              {{ category }}
            </mat-option>
          </mat-autocomplete>
          <button
            mat-button
            matSuffix
            (click)="addCategory()"
            *ngIf="showAddButton && this.packageForm.controls.category.value"
          >
            <mat-icon matToolTip="Add this category">add</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="full-width form-input" floatLabel="never">
          <mat-label>Place</mat-label>
          <input
            matInput
            autocomplete="off"
            type="text"
            formControlName="place"
          />
        </mat-form-field>

        <mat-form-field class="full-width form-input" floatLabel="never">
          <mat-label>Duration</mat-label>
          <input
            matInput
            autocomplete="off"
            type="text"
            formControlName="duration"
          />
        </mat-form-field>

        <mat-form-field class="full-width form-input" floatLabel="never">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            autocomplete="off"
            type="text"
            formControlName="description"
          ></textarea>
        </mat-form-field>

        <mat-form-field class="full-width form-input" floatLabel="never">
          <mat-label>Amount</mat-label>
          <input
            matInput
            autocomplete="off"
            type="text"
            formControlName="amount"
          />
        </mat-form-field>

        <mat-form-field class="full-width form-input" floatLabel="never">
          <mat-label>Street View Link</mat-label>
          <input
            matInput
            autocomplete="off"
            type="text"
            formControlName="streetView"
          />
        </mat-form-field>

        <ngx-dropzone (change)="onSelect($event)">
          <ngx-dropzone-label>Drop images here</ngx-dropzone-label>
          <ngx-dropzone-image-preview
            ngProjectAs="ngx-dropzone-preview"
            *ngFor="let f of files"
            [file]="f"
            [removable]="true"
            (removed)="onRemove(f)"
          >
          </ngx-dropzone-image-preview>
        </ngx-dropzone>
      </form>

      <h3>Schedule</h3>

      <form [formGroup]="scheduleForm">
        <div formArrayName="day" class="day-card">
          <div
            *ngFor="
              let day of scheduleForm.get('day')['controls'];
              let i = index
            "
          >
            <div class="row">
              <mat-toolbar class="day-card-toolbar">
                <h4>Day {{ i + 1 }}:</h4>
                <span class="spacer"></span>
                <button
                  mat-icon-button
                  (click)="deleteDay(i)"
                  class="schedule-form-icons"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </mat-toolbar>
            </div>
            <div [formGroupName]="i">
              <div>
                <div formArrayName="event" class="form-row row">
                  <div
                    *ngFor="
                      let lines of day.get('event').controls;
                      let j = index
                    "
                    class="col-11"
                  >
                    <!-- <mat-toolbar-row> -->
                    <div [formGroupName]="j">
                      <mat-form-field
                        class="full-width form-input"
                        floatLabel="never"
                      >
                        <mat-label>Event {{ j + 1 }}</mat-label>
                        <input
                          matInput
                          autocomplete="off"
                          type="text"
                          formControlName="event"
                          id="event"
                          name="event"
                        />
                        <button
                          mat-icon-button
                          (click)="deleteEvent(day.controls.event, j)"
                        >
                          <mat-icon>close</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                    <!-- </mat-toolbar-row> -->
                  </div>
                  <button
                    class="schedule-form-icons col-1"
                    mat-icon-button
                    (click)="addEvent(day.controls.event)"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button mat-flat-button (click)="addDay()">Add Day</button>
      </form>

      <div class="package-controls">
        <button class="create-button" mat-flat-button (click)="createPackage()">
          Create
        </button>
      </div>
    </div>
  </div>
</div>
