@import "../../styles.scss";
@import "../header/header.component.scss";

.package-container {
  margin: 0;
  padding: 30px 30px;
  border-radius: 50px;
}

.full-width {
  width: 100%;
}

//              ********************        PACKAGE SECTION          ********************

.package-section {
  width: 100%;
  padding: 50px 50px;
  background-color: $base-color;
  border-radius: 0px 0px 50px 50px;
}

.package-form {
  min-width: 400px;
  margin: auto;
}

.create-button {
  border-radius: 40px;
  background-color: $primary-color;
  height: 50px;
  width: 120px;
  margin: auto;
  display: block;
}

.package-controls {
  text-align: center;
  margin-top: 50px;
}

.form-input {
  background-color: white;
  border-radius: 40px;
  padding: 5px 10px;
  margin-bottom: 15px;
  display: block;
}

input {
  width: 95%;
  line-height: 45px;
  font-size: 25px;
  padding-left: 25px;
}

textarea {
  width: 95%;
  line-height: 45px;
  font-size: 25px;
}

textarea.mat-input-element {
  padding-left: 25px;
}

.row {
  margin: 0;
}

.mat-input-element {
  box-sizing: inherit;
}

.day-card {
  border: 1px solid grey;
  border-radius: 40px;
}

.day-card-toolbar {
  padding: 20px 30px 0 30px;
  background-color: transparent;
}

.col-1 {
  margin-bottom: 12px;
}

.schedule-form-icons {
  display: block;
}

.form-row {
  align-items: center;
  margin: 10px 0 10px 20px;
}

mat-select {
  line-height: 45px;
  font-size: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

::ng-deep .mat-select-arrow-wrapper {
  display: none;
}

mat-option:hover {
  background-color: transparent;
}

mat-label {
  line-height: 45px;
  font-size: 25px;
  margin-left: 25px;
}

ngx-dropzone {
  border-radius: 40px;
  border: none;
  padding: 0px 10px;
}

ngx-dropzone-label {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.54);
}

::-webkit-scrollbar {
  margin-top: 5px;
  width: 5px !important;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $light-grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
