@import "../../styles.scss";

.admin-container {
  padding: 80px;
  background-color: $base-color;
}

mat-grid-tile {
  text-align: center;
  border-radius: 20px;
  background-color: white;
}

mat-grid-tile:hover {
  cursor: pointer;
}

.backdrop {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  z-index: 1;
  font-size: 30px;
  font-weight: 600;
}

.count {
  font-size: 200px;
  color: rgb(207, 207, 207);
}
