<app-header></app-header>
<div class="admin-container">
  <mat-grid-list cols="3" rowHeight="300px" gutterSize="50px">
    <mat-grid-tile routerLink="/view-all-packages"
      ><h1 class="title">Packages</h1>
      <div class="backdrop">
        <span class="count">
          {{ (totalPackages | async)?.length }}
        </span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile routerLink="/view-all-users"
      ><h1 class="title">Users</h1>
      <div class="backdrop">
        <span class="count">
          {{ (totalUsers | async)?.length }}
        </span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile routerLink="/view-all-orders"
      ><h1 class="title">Orders</h1>
      <div class="backdrop">
        <span class="count">
          {{ (totalOrders | async)?.length }}
        </span>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <!-- <div class="row">
    <div class="col-sm" routerLink="/view-all-packages">
      <h1>Packages</h1>
      <p>Total: {{ (totalPackages | async)?.length }}</p>
    </div>
    <div class="col-sm" routerLink="/view-all-users">
      <h1>Users</h1>
      <p>Total: {{ (totalUsers | async)?.length }}</p>
    </div>
    <div class="col-sm" routerLink="/view-all-orders">
      <h1>Orders</h1>
      <p>Total: {{ (totalOrders | async)?.length }}</p>
    </div>
  </div> -->
</div>
<app-footer></app-footer>
