<div class="payment-container text-center">
  <div class="payment-section">
    <button mat-flat-button class="pay-button" (click)="pay()">
      Pay
      <strong>{{
        this.purchase.package.amount | currency: "INR":"symbol":"1.0"
      }}</strong>
    </button>
  </div>
</div>
