@import "../../styles.scss";
@import "../header/header.component.scss";

.payment-container {
  margin: 0;
  padding: 30px 200px;
  border-radius: 50px;
}

.payment-section {
  width: 100%;
  padding: 30px;
  background-color: $base-color;
  border-radius: 50px;
}

.pay-button {
  border-radius: 40px;
  background-color: $primary-color;
  height: 50px;
  margin: 50px auto;
  padding: 0 30px;
  display: block;
}
