<div class="trips-container" *ngIf="!loaderService.loader">
  <app-header></app-header>
  <div class="trips-section">
    <div class="trips-section-data">
      <div class="row" *ngIf="myTrips.length == 0">
        <mat-icon class="col-1">luggage</mat-icon>
        <div class="no-data col">
          <h1>Looks empty, you've no upcoming bookings.</h1>
          <h3>When you book a trip, you will see your itinerary here.</h3>
        </div>
      </div>
      <div class="row package" *ngFor="let trip of myTrips">
        <div class="col-4" *ngIf="trip.package.files">
          <div class="image-div">
            <img src="{{ trip.package.files[0] }}" />
          </div>
        </div>
        <div class="col">
          <mat-chip-list>
            <mat-chip>{{ trip.package?.category }}</mat-chip>
          </mat-chip-list>
          <h1
            class="package-title"
            [routerLink]="['/details', trip.package?.id]"
          >
            {{ trip.package?.title }}
          </h1>
          <p>
            {{ trip.fromDate.toMillis() | date: "dd/MM/yyyy" }} -
            {{ trip.toDate.toMillis() | date: "dd/MM/yyyy" }}
          </p>

          <button
            mat-flat-button
            class="trips-buttons"
            [routerLink]="['/feedback', trip.id]"
          >
            Feedback
          </button>

          <button mat-flat-button class="trips-buttons" (click)="createPDF()">
            Invoice
          </button>
        </div>
        <div class="col-2">
          <div class="price-div">
            <span class="price">{{ trip.package?.amount | currency: "INR":"symbol":"1.0" }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
