@import "../../styles.scss";

$radius: 20px;

.trips-section {
  height: auto;
  width: 100%;
  background-color: $base-color;
  //   border-radius: 0px 0px 50px 50px;
  position: relative;
}

.trips-section-data {
  width: 90%;
  margin: auto;
  padding: 50px 0px;
}

.col-1 {
  font-size: 85px;
  color: $secondary-color;
}

.no-data {
  padding-left: 40px !important;
  color: $secondary-color;
}

.package {
  // height: 250px;
  border: 2px solid white;
  border-radius: $radius;
  position: relative;
  margin-bottom: 20px;
}

.package-title:hover {
  cursor: pointer;
  font-weight: 500;
}

.col-4 {
  border-radius: $radius 0 0 $radius;
}

.image-div {
  padding: 15px 0;
  width: 100%;
  height: 100%;
}

img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  float: left;
}

.col {
  padding: 10px;
}

.trips-buttons {
  border-radius: 40px;
  background-color: white;
  display: block;
  margin-bottom: 10px;
}

.col-2 {
  background-color: white;
  padding: 10px;
  border-radius: 0 $radius $radius 0;
}

.price-div {
  margin-top: 90%;
  text-align: end;
}

.price {
  font-size: 30px;
  font-weight: 600;
}