$background-color: rgb(208, 194, 187);
$base-color: rgb(237, 225, 213);
$primary-color: rgb(254, 155, 59);
$secondary-color: rgb(71, 63, 59);
$light-grey: rgb(150, 150, 150);

body {
  background-color: $background-color !important;
  height: auto;
  padding: 30px;
}

.logo {
  color: $primary-color;
}

.spacer {
  flex: 1 1 auto;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: $primary-color;
}

mat-table {
  box-shadow: none;
  border-radius: 20px;
}

mat-row {
  border-radius: 20px;
}

mat-header-row {
  border-radius: 20px;
}

//              ********************        FORCED ELEMENTS SECTION         ********************

::ng-deep .mat-form-field {
  .mat-form-field-underline {
    background: none;
  }
  .mat-form-field-infix {
    border: 0;
  }
  .mat-form-field-wrapper {
    padding: 0;
  }
  .mat-form-field-subscript-wrapper {
    padding: 0;
    margin: 0;
  }
}

::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
    visibility: hidden;
  }
  .mat-form-field-underline {
    visibility: hidden;
  }
}
