@import "../../styles.scss";

//              ********************        HERO SECTION        ********************

.hero-section {
  height: 100vh;
  background-color: $base-color;
  margin-top: -20px;
}

.hero-text {
  font-size: 80px;
  line-height: 100px;
  margin: 20px 80px;
  text-align: center;
  color: $secondary-color;
}

.highlighted-hero-text {
  color: $primary-color;
}

.form {
  min-width: 150px;
  max-width: 650px;
  width: 100%;
  margin: auto;
}

.full-width {
  width: 100%;
}

.form-input {
  background-color: white;
  border-radius: 40px;
  padding: 5px 10px;
  margin-bottom: 15px;
  display: block;
}

.search-icon {
  float: left;
  font-size: 30px;
  padding: 10px;
  color: $secondary-color;
}

.search-label {
  line-height: 50px;
  font-size: 30px;
  margin-left: 50px;
}

.search-input {
  width: auto;
  line-height: 50px;
  font-size: 30px;
  padding-left: 25px;
}

.search-button {
  float: right;
  border-radius: 40px;
  background-color: $primary-color;
  height: 50px;
  width: 120px;
}

::ng-deep .mat-autocomplete-panel {
  background-color: transparent;
  border-radius: 20px;
}

::ng-deep .mat-autocomplete-panel::-webkit-scrollbar {
  display: none;
}

::ng-deep #cdk-overlay-0 .cdk-overlay-pane {
  top: 395;
}

::ng-deep .mat-autocomplete-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

mat-option {
  border-radius: 20px;
}

mat-option:hover {
  background-color: transparent;
}

//              ********************        SECOND SECTION          ********************

.second-section {
  height: auto;
  background-color: rgb(251, 249, 247);
  padding: 80px;
}

.places-card {
  border-radius: 20px;
  height: 200px;
  width: 150px;
  box-shadow: none;
  padding: 15px;
  margin-bottom: 20px;
}

.card-data {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.icon-holder {
  background-color: purple;
  display: inline-block;
  margin-bottom: 7px;
  border-radius: 50px;
}

.places-icon {
  margin: 8px;
}

.card-title {
  font-size: 20px;
  margin-top: 10px;
}

.card-subtitle {
  color: $light-grey;
}

.arrow-icon {
  color: $light-grey;
  font-size: 35px;
  position: absolute;
  bottom: 25px;
  left: 15px;
  opacity: 0.5;
}

.places-card:hover {
  box-shadow: rgba(128, 0, 128, 0.2) 0px 20px 30px;
  cursor: pointer;
}

//              ********************        THIRD SECTION       ********************

.third-section {
  height: auto;
  background-color: rgb(251, 249, 247);
  padding: 80px;
}

.carousel {
  width: 100%;
  overflow-x: hidden;
}

.carousel-header {
  margin: 20px 10px;
}

.carousel-title {
  margin: 0;
  padding: 0;

  h1 {
    font-size: 30px;
    font-weight: 400;
    margin: 0;
  }

  p {
    font-size: 14px;
    margin: 0;
  }
}

.carousel-controls {
  z-index: 1;
  margin: 0;
  padding: 0;
  text-align: end;
}

.control {
  width: 40px;
  height: 40px;
  min-width: 0;
  color: $primary-color;
  border: 1px solid #f1f1f1;
  font-size: 20px;
  padding: 0;
}

.prev {
  border-radius: 20px 0px 0px 20px;
  border-right: none;
  box-shadow: -1px 0px 3px 0 rgba(0, 0, 0, 0.1);
}

.next {
  border-radius: 0px 20px 20px 0px;
  border-left: none;
  box-shadow: 2px 0px 3px 0 rgba(0, 0, 0, 0.1);
}

.carousel-content {
  display: flex;
  transition: transform 0.8s ease;
}

.carousel-data {
  cursor: pointer;
  margin: 0 10px;
}

.carousel-item-name {
  font-weight: 500;
  font-size: 20px;
  margin: 10px 0 0 15px;
}

.carousel-item-cost {
  margin-left: 10px;
  color: $light-grey;
}

.carousel-image {
  border-radius: 10px;
  object-fit: cover;
  height: 350px;
  width: 230px;
}
