<app-header></app-header>
<div class="hero-section">
  <h1 class="hero-text">
    Life is short and the
    <span class="highlighted-hero-text">world</span> is wide
  </h1>
  <div class="form" [formGroup]="searchForm">
    <mat-form-field class="full-width form-input" floatLabel="never">
      <mat-icon class="search-icon">location_on</mat-icon>
      <mat-label class="search-label">Enter your destination</mat-label>
      <input
        matInput
        class="search-input"
        [matAutocomplete]="search"
        autocomplete="off"
        formControlName="search"
      />
      <button class="search-button" mat-flat-button (click)="gotoPackage()">
        Search
      </button>
      <mat-autocomplete #search="matAutocomplete" autoActiveFirstOption>
        <mat-option
          *ngFor="let option of searchOptions | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>
<div class="second-section">
  <div class="grid-container">
    <div class="carousel">
      <div class="carousel-header row">
        <div class="col carousel-title">
        <h1>Popular Trips</h1>
        <p>Budget Packages to our most-loved destinations!</p>
      </div>
        <div class="carousel-controls col-sm">
          <button mat-flat-button class="control prev" (click)="previous1()">
            <
          </button>
          <button mat-flat-button class="control next" (click)="next1()">
            >
          </button>
        </div>
      </div>
      <div
        class="carousel-content"
        [style.transform]="'translateX(' + x1 + 'px)'"
      >
        <div *ngFor="let package of popularPackages" class="carousel-data">
          <img
            src="{{ package.files[0] }}"
            class="carousel-image"
            [routerLink]="['/details', package.id]"
          />
          <h3 class="carousel-item-name">{{ package.title }}</h3>
          <p class="carousel-item-cost">
            <!-- Starting at {{ item.cost }} Per Person -->
          </p>
        </div>
      </div>
    </div>

    <!-- <h1>Top Destinations</h1> -->
    <!-- <mat-grid-list cols="4" rowHeight="280px">
      <mat-grid-tile *ngFor="let package of allPackages">
        <mat-card class="places-card" [routerLink]="['/details', package.id]">
          <div class="card-data">
            <span class="icon-holder">
              <mat-icon class="places-icon" svgIcon="akshardham"></mat-icon>
            </span>
            <h2 class="card-title">{{ package.title }}</h2>
            <h4 class="card-subtitle">India</h4>
          </div>
          <mat-icon class="arrow-icon">trending_flat</mat-icon>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list> -->
  </div>
</div>
<div class="third-section">
  <div class="grid-container">
    <div class="carousel">
      <div class="carousel-header row">
        <div class="col carousel-title">
        <h1>Short Getaways</h1>
        <p>Budget Packages to our most-loved destinations!</p>
      </div>
        <div class="carousel-controls col-sm">
          <button mat-flat-button class="control prev" (click)="previous2()">
            <
          </button>
          <button mat-flat-button class="control next" (click)="next2()">
            >
          </button>
        </div>
      </div>
      <div
        class="carousel-content"
        [style.transform]="'translateX(' + x2 + 'px)'"
      >
        <div *ngFor="let item of carousel_item" class="carousel-data">
          <img
            src="{{ item.img }}"
            class="carousel-image"
            [routerLink]="['/view-all-packages', item.name]"
          />
          <h3 class="carousel-item-name">{{ item.name }}</h3>
          <p class="carousel-item-cost">
            <!-- Starting at {{ item.cost }} Per Person -->
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
