<div class="register-container">
  <mat-toolbar class="header">
    <mat-toolbar-row class="header-row">
      <span class="header-title">Register</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="register-section">
    <div class="register-form">
      <form [formGroup]="registerForm">
        <mat-form-field class="full-width form-input" floatLabel="never">
          <mat-icon>account_circle</mat-icon>
          <mat-label>Name</mat-label>
          <input
            matInput
            type="text"
            autocomplete="off"
            formControlName="name"
            minlength="4"
          />
        </mat-form-field>

        <mat-form-field class="full-width form-input" floatLabel="never">
          <mat-icon>phone</mat-icon>
          <mat-label>Phone</mat-label>
          <input
            matInput
            type="text"
            autocomplete="off"
            formControlName="phone"
            maxlength="10"
            minlength="10"
          />
        </mat-form-field>

        <mat-form-field class="full-width form-input" floatLabel="never">
          <mat-icon>email</mat-icon>
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            autocomplete="off"
            formControlName="email"
          />
        </mat-form-field>

        <mat-form-field class="full-width form-input" floatLabel="never">
          <mat-icon>lock</mat-icon>
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            autocomplete="off"
            formControlName="password"
            minlength="5"
          />
        </mat-form-field>

        <div class="register-controls">
          <button
            class="register-button"
            mat-flat-button
            (click)="register()"
            [disabled]="!registerForm.valid"
          >
            Register
          </button>
          <span
            class="redirects"
            [routerLink]="['/login']"
            routerLinkActive="router-link-active"
            >Do you have an account?</span
          >
        </div>
      </form>
    </div>
  </div>
</div>
