@import "../../styles.scss";
@import "../header/header.component.scss";

.register-container {
  margin: 0;
  padding: 30px 200px;
  border-radius: 50px;
}

//              ********************        LOGIN SECTION          ********************

.register-section {
  width: 100%;
  padding: 50px 150px;
  background-color: $base-color;
  border-radius: 0px 0px 50px 50px;
}

.register-form {
  min-width: 400px;
  margin: auto;
}

.register-button {
  border-radius: 40px;
  background-color: $primary-color;
  height: 50px;
  width: 120px;
  margin: auto;
  display: block;
}
.register-controls {
  text-align: center;
  margin-top: 50px;
}

.redirects {
  display: block;
  margin-top: 30px;
  cursor: pointer;
}

.redirects:hover {
  font-weight: 500;
}

.form-input {
  background-color: white;
  border-radius: 40px;
  padding: 5px 10px;
  margin-bottom: 15px;
  display: block;

  input {
    width: 85%;
    line-height: 45px;
    font-size: 25px;
    padding-left: 25px;
  }
  mat-label {
    line-height: 45px;
    font-size: 25px;
    margin-left: 50px;
  }
  mat-icon {
    float: left;
    font-size: 25px;
    padding: 10px;
    color: $secondary-color;
  }
}
