<div class="view-all-orders-container">
  <mat-toolbar class="header">
    <mat-toolbar-row class="header-row">
      <span class="header-title">All Orders</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="view-all-orders-section">
    <div class="view-all-orders-section-data">
      <mat-table class="mat-elevation-z8" [dataSource]="allOrders">
        <ng-container matColumnDef="sr_no">
          <mat-header-cell *matHeaderCellDef>Sr No. </mat-header-cell>
          <mat-cell *matCellDef="let row; let i = index">
            {{ i + 1 }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell
            *matCellDef="let row"
            [routerLink]="['/details', row['package'].id]"
          >
            {{ row["package"].title }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row["package"].amount | currency: "INR":"symbol":"1.0" }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="customer">
          <mat-header-cell *matHeaderCellDef>Customer</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row["customer"].name }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="rating">
          <mat-header-cell *matHeaderCellDef>Rating</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <ng-container *ngIf="row['feedback']?.rating">
              <mat-icon
                class="star-ratings"
                *ngFor="let star of [].constructor(row['feedback']?.rating)"
                >star</mat-icon
              >
            </ng-container>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="review">
          <mat-header-cell *matHeaderCellDef>Review</mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row["feedback"]?.comment }}
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
